.idea
/vendor
/node_modules
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/docker/redis/**
/StaffPicture
/socket/node_modules
#/resources/assets
/docker
#.docker
docker-compose.yml
#docker-compose.production.yml

